html,
body {
  width: 100%;
  height: 100%;
  background-color: #adb4b7;
  display: flex;
  flex-direction: row;
  position: relative;
}

.first_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.second_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container {
  height: 370px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  border: 1px solid black;
}
.time-container {
  display: flex;
  flex-direction: row;
}
.timer,
.mistakes {
  color: #1b4e6d;
  padding: 30px;
  font-size: xx-large;
}
.keyboard {
  display: flex;
  flex-direction: column;
  position: relative;
}
.key1 {
  display: flex;
  flex-direction: row;
}

.key2 {
  display: flex;
  flex-direction: row;
}

.key3 {
  display: flex;
  flex-direction: row;
}
.numbers {
  background: linear-gradient(#1b4e6d, #3596d3);
  padding: 30px;
  color: #fff;
  margin: 10px;
  border-radius: 15px;
  font-size: larger;
  border: none;
  cursor: pointer;
}
.cell {
  position: relative;
  width: 40;
  aspect-ratio: 1;
  border: 1px solid gray;
}

#c3,
#c12,
#c21,
#c30,
#c39,
#c48,
#c57,
#c66,
#c75 {
  border-left: 1px solid black;
}

#c6,
#c15,
#c24,
#c33,
#c42,
#c51,
#c60,
#c69,
#c78 {
  border-left: 1px solid black;
}

#c18,
#c19,
#c20,
#c21,
#c22,
#c23,
#c24,
#c25,
#c26,
#c45,
#c46,
#c47,
#c48,
#c49,
#c50,
#c51,
#c52,
#c53 {
  border-bottom: 1px solid black;
}
.back {
  width: 40px;
  height: 40px;
  background: linear-gradient(#1b4e6d, #3596d3);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 1px 4px rgba(100, 120, 150, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.back:focus {
  box-shadow: 0 0 0 4px rgba(4, 49, 88, 0.15);
}
.fa-arrow-left {
  color: #fff;
}
.fa-pause {
  color: black;
}
#go-back {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 70px;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(4, 49, 88, 0.3);
}
button:hover {
  transform: scale(1.05);
}

#c0:active,
#c1:active,
#c2:active,
#c9:active,
#c10:active,
#c11:active,
#c18:active,
#c19:active,
#c20:active {
  background-color: #51585b;
}

#c3:active,
#c4:active,
#c5:active,
#c12:active,
#c13:active,
#c14:active,
#c21:active,
#c22:active,
#c23:active {
  background-color: #51585b;
}

#c6:active,
#c7:active,
#c8:active,
#c15:active,
#c16:active,
#c17:active,
#c24:active,
#c25:active,
#c26:active {
  background-color: #51585b;
}

#c27:active,
#c28:active,
#c29:active,
#c36:active,
#c37:active,
#c38:active,
#c45:active,
#c46:active,
#c47:active {
  background-color: #51585b;
}

#c30:active,
#c31:active,
#c32:active,
#c39:active,
#c40:active,
#c41:active,
#c48:active,
#c49:active,
#c50 :active {
  background-color: #51585b;
}
#c33:active,
#c34:active,
#c35:active,
#c42:active,
#c43:active,
#c44:active,
#c51:active,
#c52:active,
#c53:active {
  background-color: #51585b;
}

#c54:active,
#c55:active,
#c56:active,
#c63:active,
#c64:active,
#c65:active,
#c72:active,
#c73:active,
#c74:active {
  background-color: #51585b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#c57:active,
#c58:active,
#c59:active,
#c66:active,
#c67:active,
#c68:active,
#c75:active,
#c76:active,
#c77:active {
  background-color: #51585b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#c60:active,
#c61:active,
#c62:active,
#c69:active,
#c70:active,
#c71:active,
#c78:active,
#c79:active,
#c80:active {
  background-color: #51585b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
