html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #adb4b7;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.container {
  width: 300px;
  height: 600px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form-group {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #000;
  margin: 0px;
  padding: none;
}

label {
  display: block;
  font-size: 1.5rem;
}
label:hover {
  transform: scale(1.05);
}

input {
  height: 50px;
  width: 250px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  outline: none;
}

input:hover {
  transform: scale(1.05);
}

button {
  width: 300px;
  height: 60px;
  background: linear-gradient(#1b4e6d, #3596d3);
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 1px 4px rgba(100, 120, 150, 0.2);
}
button:focus {
  box-shadow: 0 0 0 4px rgba(4, 49, 88, 0.15);
}
button:hover {
  transform: scale(1.05);
}
