html,
body {
  width: 100%;
  height: 100%;
  background-color: #adb4b7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  height: 370px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
}

.cell {
  position: relative;
  width: 40;
  aspect-ratio: 1;
  border: 1px solid gray;
}

#c3,
#c12,
#c21,
#c30,
#c39,
#c48,
#c57,
#c66,
#c75 {
  border-left: 1px solid black;
}

#c6,
#c15,
#c24,
#c33,
#c42,
#c51,
#c60,
#c69,
#c78 {
  border-left: 1px solid black;
}

#c18,
#c19,
#c20,
#c21,
#c22,
#c23,
#c24,
#c25,
#c26,
#c45,
#c46,
#c47,
#c48,
#c49,
#c50,
#c51,
#c52,
#c53 {
  border-bottom: 1px solid black;
}
.back {
  width: 40px;
  height: 40px;
  background: linear-gradient(#1b4e6d, #3596d3);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 1px 4px rgba(100, 120, 150, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.back:focus {
  box-shadow: 0 0 0 4px rgba(4, 49, 88, 0.15);
}
.fa-arrow-left {
  color: #fff;
}
a {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 70px;
}
